// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * U-Boot 2025.10 DTS for HINLINK H29K (RK3528)
 */

/dts-v1/;

/ {
	model = "HINLINK H29K";
	compatible = "hinlink,h29k", "rockchip,rk3528";

	aliases {
		serial0 = "/serial@ff9f0000";
		ethernet0 = "/ethernet@ffbe0000";
		mmc0 = "/mmc@ffbf0000";
		mmc1 = "/mmc@ffc30000";
	};

	chosen {
		stdout-path = "serial0:1500000n8";
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <0x4c4b40>;
		regulator-max-microvolt = <0x4c4b40>;
		bootph-all;
	};

	vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <0x325aa0>;
		regulator-max-microvolt = <0x325aa0>;
		vin-supply = <0x5d>;
		phandle = <0x4c>;
		bootph-all;
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <0x1b7740>;
		regulator-max-microvolt = <0x1b7740>;
		vin-supply = <0x4c>;
		phandle = <0x37>;
		bootph-all;
	};

	vcc3v3_sd: vcc3v3-sd {
		compatible = "regulator-fixed";
		gpio = <0x25 0x01 0x01>;
		regulator-name = "vcc3v3_sd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <0x325aa0>;
		regulator-max-microvolt = <0x325aa0>;
		vin-supply = <0x4c>;
		bootph-all;
	};

	vccio_sd: vccio-sd {
		compatible = "regulator-gpio";
		gpios = <0x25 0x0e 0x00>;
		regulator-name = "vccio_sd";
		regulator-min-microvolt = <0x1b7740>;
		regulator-max-microvolt = <0x325aa0>;
		states = <0x1b7740 0x00 0x325aa0 0x01>;
		vin-supply = <0x5d>;
		bootph-all;
	};
};

&cru {
	bootph-all;
};

&pinctrl {
	bootph-all;
};

&gpio0 {
	bootph-all;
};

&gpio1 {
	bootph-all;
};

&gpio2 {
	bootph-all;
};

&gpio3 {
	bootph-all;
};

&gpio4 {
	bootph-all;
};

&uart0 {
	compatible = "rockchip,rk3528\0snps,dw-apb-uart";
	reg = <0x00 0xff9f0000 0x00 0x100>;
	interrupts = <0x00 0x28 0x04>;
	clocks = <0x0a 0x15 0x0a 0x75>;
	clock-names = "baudclk\0apb_pclk";
	reg-shift = <0x02>;
	reg-io-width = <0x04>;
	dmas = <0x16 0x09 0x16 0x08>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart0m0_xfer>;
	status = "okay";
	bootph-all;
};

&gmac1 {
	compatible = "rockchip,rk3528-gmac\0snps,dwmac-4.20a";
	reg = <0x00 0xffbe0000 0x00 0x10000>;
	interrupts = <0x00 0x79 0x04 0x00 0x7c 0x04>;
	interrupt-names = "macirq\0eth_wake_irq";
	clocks = <0x0a 0xd2 0x0a 0xd1 0x0a 0xcf 0x0a 0xce>;
	clock-names = "stmmaceth\0clk_mac_ref\0pclk_mac\0aclk_mac";
	resets = <0x0a 0x1c5>;
	reset-names = "stmmaceth";
	rockchip,grf = <0x10>;
	snps,axi-config = <0x43>;
	snps,mixed-burst;
	snps,mtl-rx-config = <0x44>;
	snps,mtl-tx-config = <0x45>;
	snps,tso;
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_miim &rgmii_tx_bus2 &rgmii_rx_bus2 &rgmii_rgmii_clk &rgmii_rgmii_bus>;
	phy-mode = "rgmii-id";
	clock_in_out = "output";
	phy-handle = <&rgmii_phy>;
	phy-supply = <&vcc_3v3>;
	snps,reset-active-low;
	snps,reset-delays-us = <0x00 0x4e20 0x186a0>;
	snps,reset-gpio = <0x25 0x12 0x01>;
	status = "okay";
	bootph-all;

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		rgmii_phy: phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
			phandle = <0x4b>;
		};
		stmmac-axi-config {
			snps,wr_osr_lmt = <0x04>;
			snps,rd_osr_lmt = <0x08>;
			snps,blen = <0x00 0x00 0x00 0x00 0x10 0x08 0x04>;
			phandle = <0x43>;
		};
		rx-queues-config {
			snps,rx-queues-to-use = <0x01>;
			phandle = <0x44>;
			queue0 {};
		};
		tx-queues-config {
			snps,tx-queues-to-use = <0x01>;
			phandle = <0x45>;
			queue0 {};
		};
	};
};

&sdhci {
	compatible = "rockchip,rk3528-dwcmshc\0rockchip,rk3588-dwcmshc";
	reg = <0x00 0xffbf0000 0x00 0x10000>;
	interrupts = <0x00 0x88 0x04>;
	assigned-clocks = <0x0a 0xa6 0x0a 0xa7 0x0a 0xa3>;
	assigned-clock-rates = <0xbebc200 0x16e3600 0xbebc200>;
	clocks = <0x0a 0xa3 0x0a 0xa4 0x0a 0xa5 0x0a 0xa6 0x0a 0xa7>;
	clock-names = "core\0bus\0axi\0block\0timer";
	resets = <0x0a 0x19f 0x0a 0x1a0 0x0a 0x1a1 0x0a 0x1a2 0x0a 0x1a3>;
	reset-names = "core\0bus\0axi\0block\0timer";
	max-frequency = <0xbebc200>;
	bus-width = <8>;
	mmc-hs200-1_8v;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_bus8 &emmc_clk &emmc_cmd &emmc_strb>;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vcc_1v8>;
	status = "okay";
	bootph-all;
};

&sdmmc {
	compatible = "rockchip,rk3528-dw-mshc\0rockchip,rk3288-dw-mshc";
	reg = <0x00 0xffc30000 0x00 0x4000>;
	interrupts = <0x00 0x85 0x04>;
	clocks = <0x0a 0x198 0x0a 0x197 0x51 0x01 0x51 0x02>;
	clock-names = "biu\0ciu\0ciu-drive\0ciu-sample";
	fifo-depth = <0x100>;
	max-frequency = <0x8f0d180>;
	resets = <0x0a 0x2a9>;
	reset-names = "reset";
	rockchip,use-v2-tuning;
	bus-width = <4>;
	cap-sd-highspeed;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_bus4 &sdmmc_clk &sdmmc_cmd &sdmmc_det>;
	rockchip,default-sample-phase = <0x5a>;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc3v3_sd>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
	bootph-all;
};

&{/soc} {
	grf: syscon@ff300000 {
		compatible = "rockchip,rk3528-grf", "syscon", "simple-mfd";
		reg = <0x00 0xff300000 0x00 0x90000>;
		bootph-all;

		reboot-mode {
			compatible = "syscon-reboot-mode";
			offset = <0x70200>;
			mode-bootloader = <0x5242c301>;
			mode-fastboot = <0x5242c309>;
			mode-loader = <0x5242c301>;
			mode-normal = <0x5242c300>;
			mode-recovery = <0x5242c303>;

		};
		grf-clock-controller {
			compatible = "rockchip,rk3528-grf-cru";
			#clock-cells = <0x01>;
			phandle = <0x51>;
		};
	};

	rng: rng@ffc50000 {
		compatible = "rockchip,rkrng";
		reg = <0x00 0xffc50000 0x00 0x200>;
		interrupts = <0x00 0x17 0x04>;
		clocks = <0x06 0x20>;
		clock-names = "hclk_trng";
		resets = <0x0a 0xa3>;
		reset-names = "reset";
		status = "okay";
		bootph-all;
	};

	sfc: spi@ffc00000 {
		compatible = "rockchip,sfc";
		reg = <0x00 0xffc00000 0x00 0x4000>;
		interrupts = <0x00 0x87 0x04>;
		clocks = <0x0a 0xa1 0x0a 0xa0>;
		clock-names = "clk_sfc", "hclk_sfc";
		assigned-clocks = <0x0a 0xa1>;
		assigned-clock-rates = <0x5f5e100>;
		#address-cells = <0x01>;
		#size-cells = <0x00>;
		status = "okay";
		bootph-all;
	};
};
