// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * U-Boot 2025.10 DTS for HINLINK H29K (RK3528)
 * 完全独立全量硬编码，无外部dtsi依赖
 * phandle 全量对齐原厂编号
 */

/dts-v1/;

/ {
	interrupt-parent = <0x01>;
	#address-cells = <0x02>;
	#size-cells = <0x02>;
	model = "HINLINK H29K";
	compatible = "hinlink,h29k", "rockchip,rk3528";

	aliases {
		serial0 = "/serial@ff9f0000";
		ethernet0 = "/ethernet@ffbe0000";
		mmc0 = "/mmc@ffbf0000";
		mmc1 = "/mmc@ffc30000";
	};

	chosen {
		stdout-path = "serial0:1500000n8";
	};

	reserved-memory {
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		ranges;

		shmem@10f000 {
			compatible = "arm,scmi-shmem";
			reg = <0x00 0x10f000 0x00 0x100>;
			no-map;
			phandle = <0x09>;
		};
	};

	firmware {
		scmi {
			compatible = "arm,scmi-smc";
			arm,smc-id = <0x82000010>;
			shmem = <0x09>;
			#address-cells = <0x01>;
			#size-cells = <0x00>;

			protocol@14 {
				reg = <0x14>;
				#clock-cells = <0x01>;
				phandle = <0x06>;
			};
		};
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <0x01 0x0d 0xf08 0x01 0x0e 0xf08 0x01 0x0b 0xf08 0x01 0x0a 0xf08>;
	};

	/* GIC 上移至此处，确保 interrupt-parent = <0x01> 的解析兼容性 */
	interrupt-controller@fed01000 {
		compatible = "arm,gic-400";
		#interrupt-cells = <0x03>;
		#address-cells = <0x00>;
		interrupt-controller;
		reg = <0x00 0xfed01000 0x00 0x1000 0x00 0xfed02000 0x00 0x2000 0x00 0xfed04000 0x00 0x2000 0x00 0xfed06000 0x00 0x2000>;
		interrupts = <0x01 0x09 0xf08>;
		phandle = <0x01>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <0x4c4b40>;
		regulator-max-microvolt = <0x4c4b40>;
		phandle = <0x5d>;
		bootph-all;
	};

	vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <0x325aa0>;
		regulator-max-microvolt = <0x325aa0>;
		vin-supply = <0x5d>;
		phandle = <0x4c>;
		bootph-all;
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <0x1b7740>;
		regulator-max-microvolt = <0x1b7740>;
		vin-supply = <0x4c>;
		phandle = <0x37>;
		bootph-all;
	};

	vcc3v3_sd: vcc3v3-sd {
		compatible = "regulator-fixed";
		gpio = <0x25 0x01 0x01>;
		regulator-name = "vcc3v3_sd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <0x325aa0>;
		regulator-max-microvolt = <0x325aa0>;
		vin-supply = <0x4c>;
		phandle = <0x5b>;
		bootph-all;
	};

	vccio_sd: vccio-sd {
		compatible = "regulator-gpio";
		gpios = <0x25 0x0e 0x00>;
		regulator-name = "vccio_sd";
		regulator-min-microvolt = <0x1b7740>;
		regulator-max-microvolt = <0x325aa0>;
		states = <0x1b7740 0x00 0x325aa0 0x01>;
		vin-supply = <0x5d>;
		phandle = <0x5c>;
		bootph-all;
	};

	grf: syscon@ff300000 {
		compatible = "rockchip,rk3528-grf", "syscon", "simple-mfd";
		reg = <0x00 0xff300000 0x00 0x90000>;
		phandle = <0x10>;
		bootph-all;

		reboot-mode {
			compatible = "syscon-reboot-mode";
			offset = <0x70200>;
			mode-bootloader = <0x5242c301>;
			mode-fastboot = <0x5242c309>;
			mode-loader = <0x5242c301>;
			mode-normal = <0x5242c300>;
			mode-recovery = <0x5242c303>;
		};

		grf-clock-controller {
			compatible = "rockchip,rk3528-grf-cru";
			#clock-cells = <0x01>;
			phandle = <0x51>;
		};
	};

	ioc-grf: syscon@ff540000 {
		compatible = "rockchip,rk3528-ioc-grf", "syscon";
		reg = <0x00 0xff540000 0x00 0x40000>;
		phandle = <0x5e>;
		bootph-all;
	};

	cru: clock-controller@ff4a0000 {
		compatible = "rockchip,rk3528-cru";
		reg = <0x00 0xff4a0000 0x00 0x30000>;
		rockchip,grf = <0x10>;
		#clock-cells = <0x01>;
		#reset-cells = <0x01>;
		assigned-clocks = <0x0a 0x1ff 0x0a 0x03 0x0a 0x04 0x0a 0x02 0x0a 0x0d 0x0a 0x11 0x0a 0x09 0x0a 0x0a 0x0a 0x0b 0x0a 0x0c 0x0a 0x0e 0x0a 0x0f 0x0a 0x10 0x0a 0x12 0x0a 0x90 0x0a 0x8f 0x0a 0x95 0x0a 0x55 0x0a 0x144 0x0a 0x96 0x0a 0x93>;
		assigned-clock-rates = <0x8000 0x46cf7100 0x3b9aca00 0x3b5dc100 0xee6b280 0x1dcd6500 0x2faf080 0x5f5e100 0x8f0d180 0xbebc200 0x11e1a300 0x1443fd00 0x17d78400 0x23c34600 0x2faf080 0x5f5e100 0x7735940 0x1dcd6500 0x1443fd00 0x11e1a300 0xbebc200>;
		phandle = <0x0a>;
		bootph-all;
	};

	uart0: serial@ff9f0000 {
		compatible = "rockchip,rk3528-uart\0snps,dw-apb-uart";
		reg = <0x00 0xff9f0000 0x00 0x100>;
		interrupts = <0x00 0x28 0x04>;
		clocks = <0x0a 0x15 0x0a 0x75>;
		clock-names = "baudclk\0apb_pclk";
		reg-shift = <0x02>;
		reg-io-width = <0x04>;
		dmas = <0x16 0x09 0x16 0x08>;
		pinctrl-names = "default";
		pinctrl-0 = <0x20>;
		status = "okay";
		bootph-all;
	};

	gmac1: ethernet@ffbe0000 {
		compatible = "rockchip,rk3528-gmac\0snps,dwmac-4.20a";
		reg = <0x00 0xffbe0000 0x00 0x10000>;
		interrupts = <0x00 0x79 0x04 0x00 0x7c 0x04>;
		interrupt-names = "macirq\0eth_wake_irq";
		clocks = <0x0a 0xd2 0x0a 0xd1 0x0a 0xcf 0x0a 0xce>;
		clock-names = "stmmaceth\0clk_mac_ref\0pclk_mac\0aclk_mac";
		resets = <0x0a 0x1c5>;
		reset-names = "stmmaceth";
		rockchip,grf = <0x10>;
		snps,axi-config = <0x43>;
		snps,mixed-burst;
		snps,mtl-rx-config = <0x44>;
		snps,mtl-tx-config = <0x45>;
		snps,tso;
		pinctrl-names = "default";
		pinctrl-0 = <0x46 0x47 0x48 0x49 0x4a>;
		phy-mode = "rgmii-id";
		clock_in_out = "output";
		phy-handle = <0x4b>;
		phy-supply = <0x4c>;
		snps,reset-active-low;
		snps,reset-delays-us = <0x00 0x4e20 0x186a0>;
		snps,reset-gpio = <0x25 0x12 0x01>;
		status = "okay";
		bootph-all;

		mdio {
			compatible = "snps,dwmac-mdio";
			#address-cells = <1>;
			#size-cells = <0>;

			rgmii_phy: phy@1 {
				compatible = "ethernet-phy-ieee802.3-c22";
				reg = <1>;
				phandle = <0x4b>;
			};
		};

		stmmac-axi-config {
			snps,wr_osr_lmt = <0x04>;
			snps,rd_osr_lmt = <0x08>;
			snps,blen = <0x00 0x00 0x00 0x00 0x10 0x08 0x04>;
			phandle = <0x43>;
		};

		rx-queues-config {
			snps,rx-queues-to-use = <0x01>;
			queue0 {};
			phandle = <0x44>;
		};

		tx-queues-config {
			snps,tx-queues-to-use = <0x01>;
			queue0 {};
			phandle = <0x45>;
		};
	};

	sdhci: mmc@ffbf0000 {
		compatible = "rockchip,rk3528-dwcmshc\0rockchip,rk3588-dwcmshc";
		reg = <0x00 0xffbf0000 0x00 0x10000>;
		interrupts = <0x00 0x88 0x04>;
		assigned-clocks = <0x0a 0xa6 0x0a 0xa7 0x0a 0xa3>;
		assigned-clock-rates = <0xbebc200 0x16e3600 0xbebc200>;
		clocks = <0x0a 0xa3 0x0a 0xa4 0x0a 0xa5 0x0a 0xa6 0x0a 0xa7>;
		clock-names = "core\0bus\0axi\0block\0timer";
		resets = <0x0a 0x19f 0x0a 0x1a0 0x0a 0x1a1 0x0a 0x1a2 0x0a 0x1a3>;
		reset-names = "core\0bus\0axi\0block\0timer";
		max-frequency = <0xbebc200>;
		bus-width = <8>;
		mmc-hs200-1_8v;
		non-removable;
		pinctrl-names = "default";
		pinctrl-0 = <0x4d 0x4e 0x4f 0x50>;
		vmmc-supply = <0x4c>;
		vqmmc-supply = <0x37>;
		status = "okay";
		bootph-all;
	};

	sdmmc: mmc@ffc30000 {
		compatible = "rockchip,rk3528-dw-mshc\0rockchip,rk3288-dw-mshc";
		reg = <0x00 0xffc30000 0x00 0x4000>;
		interrupts = <0x00 0x85 0x04>;
		clocks = <0x0a 0x198 0x0a 0x197 0x51 0x01 0x51 0x02>;
		clock-names = "biu\0ciu\0ciu-drive\0ciu-sample";
		fifo-depth = <0x100>;
		max-frequency = <0x8f0d180>;
		resets = <0x0a 0x2a9>;
		reset-names = "reset";
		rockchip,use-v2-tuning;
		bus-width = <4>;
		cap-sd-highspeed;
		disable-wp;
		pinctrl-names = "default";
		pinctrl-0 = <0x57 0x58 0x59 0x5a>;
		rockchip,default-sample-phase = <0x5a>;
		sd-uhs-sdr12;
		sd-uhs-sdr25;
		sd-uhs-sdr50;
		sd-uhs-sdr104;
		vmmc-supply = <0x5b>;
		vqmmc-supply = <0x5c>;
		status = "okay";
		bootph-all;
	};

	rng: rng@ffc50000 {
		compatible = "rockchip,rkrng";
		reg = <0x00 0xffc50000 0x00 0x200>;
		interrupts = <0x00 0x17 0x04>;
		clocks = <0x06 0x20>;
		clock-names = "hclk_trng";
		resets = <0x0a 0xa3>;
		reset-names = "reset";
		status = "okay";
		bootph-all;
	};

	sfc: spi@ffc00000 {
		compatible = "rockchip,sfc";
		reg = <0x00 0xffc00000 0x00 0x4000>;
		interrupts = <0x00 0x87 0x04>;
		clocks = <0x0a 0xa1 0x0a 0xa0>;
		clock-names = "clk_sfc", "hclk_sfc";
		assigned-clocks = <0x0a 0xa1>;
		assigned-clock-rates = <0x5f5e100>;
		#address-cells = <0x01>;
		#size-cells = <0x00>;
		status = "okay";
		bootph-all;
	};

	pdma: dma-controller@ffd60000 {
		compatible = "arm,pl330\0arm,primecell";
		reg = <0x00 0xffd60000 0x00 0x4000>;
		interrupts = <0x00 0x00 0x04 0x00 0x01 0x04 0x00 0x02 0x04 0x00 0x03 0x04 0x00 0x04 0x04 0x00 0x05 0x04 0x00 0x06 0x04 0x00 0x07 0x04 0x00 0x10 0x04>;
		arm,pl330-periph-burst;
		clocks = <0x0a 0x68>;
		clock-names = "apb_pclk";
		#dma-cells = <0x01>;
		phandle = <0x16>;
		bootph-all;
	};

	pinctrl: pinctrl {
		compatible = "rockchip,rk3528-pinctrl";
		rockchip,grf = <0x5e>;
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		ranges;
		phandle = <0x5f>;

		gpio@ff610000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x00 0xff610000 0x00 0x200>;
			interrupts = <0x00 0x47 0x04>;
			clocks = <0x0a 0x1fd 0x0a 0x1fe>;
			gpio-controller;
			#gpio-cells = <0x02>;
			gpio-ranges = <0x5f 0x00 0x00 0x20>;
			interrupt-controller;
			#interrupt-cells = <0x02>;
			phandle = <0x1f>;
		};

		gpio@ffaf0000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x00 0xffaf0000 0x00 0x200>;
			interrupts = <0x00 0x49 0x04>;
			clocks = <0x0a 0xa8 0x0a 0xa9>;
			gpio-controller;
			#gpio-cells = <0x02>;
			gpio-ranges = <0x5f 0x00 0x20 0x20>;
			interrupt-controller;
			#interrupt-cells = <0x02>;
			phandle = <0x1e>;
		};

		gpio@ffb00000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x00 0xffb00000 0x00 0x200>;
			interrupts = <0x00 0x4b 0x04>;
			clocks = <0x0a 0x194 0x0a 0x195>;
			gpio-controller;
			#gpio-cells = <0x02>;
			gpio-ranges = <0x5f 0x00 0x40 0x20>;
			interrupt-controller;
			#interrupt-cells = <0x02>;
		};

		gpio@ffb10000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x00 0xffb10000 0x00 0x200>;
			interrupts = <0x00 0x4c 0x04>;
			clocks = <0x0a 0xba 0x0a 0xbb>;
			gpio-controller;
			#gpio-cells = <0x02>;
			gpio-ranges = <0x5f 0x00 0x60 0x20>;
			interrupt-controller;
			#interrupt-cells = <0x02>;
		};

		gpio@ffb20000 {
			compatible = "rockchip,gpio-bank";
			reg = <0x00 0xffb20000 0x00 0x200>;
			interrupts = <0x00 0x4e 0x04>;
			clocks = <0x0a 0x12c 0x0a 0x12d>;
			gpio-controller;
			#gpio-cells = <0x02>;
			gpio-ranges = <0x5f 0x00 0x80 0x20>;
			interrupt-controller;
			#interrupt-cells = <0x02>;
			phandle = <0x25>;
		};

		pcfg-pull-up {
			bias-pull-up;
			phandle = <0x65>;
		};
		pcfg-pull-down {
			bias-pull-down;
			phandle = <0x66>;
		};
		pcfg-pull-none {
			bias-disable;
			phandle = <0x60>;
		};
		pcfg-pull-none-drv-level-0 {
			bias-disable;
			drive-strength = <0x00>;
			phandle = <0x64>;
		};
		pcfg-pull-none-drv-level-2 {
			bias-disable;
			drive-strength = <0x02>;
			phandle = <0x62>;
		};
		pcfg-pull-up-drv-level-2 {
			bias-pull-up;
			drive-strength = <0x02>;
			phandle = <0x61>;
		};
		pcfg-pull-up-drv-level-6 {
			bias-pull-up;
			drive-strength = <0x06>;
			phandle = <0x67>;
		};
		pcfg-pull-none-smt {
			bias-disable;
			input-schmitt-enable;
			phandle = <0x63>;
		};

		uart0m0-xfer {
			rockchip,pins = <0x04 0x17 0x01 0x65 0x04 0x18 0x01 0x65>;
			phandle = <0x20>;
		};

		rgmii-miim {
			rockchip,pins = <0x03 0x0e 0x02 0x62 0x03 0x0f 0x02 0x62>;
			phandle = <0x46>;
		};
		rgmii-rx_bus2 {
			rockchip,pins = <0x03 0x03 0x02 0x60 0x03 0x02 0x02 0x60 0x03 0x12 0x02 0x60>;
			phandle = <0x48>;
		};
		rgmii-tx_bus2 {
			rockchip,pins = <0x03 0x01 0x02 0x62 0x03 0x00 0x02 0x62 0x03 0x10 0x02 0x60>;
			phandle = <0x47>;
		};
		rgmii-rgmii_clk {
			rockchip,pins = <0x03 0x05 0x02 0x60 0x03 0x04 0x02 0x62>;
			phandle = <0x49>;
		};
		rgmii-rgmii_bus {
			rockchip,pins = <0x03 0x07 0x02 0x60 0x03 0x06 0x02 0x60 0x03 0x09 0x02 0x62 0x03 0x08 0x02 0x62>;
			phandle = <0x4a>;
		};

		emmc-bus8 {
			rockchip,pins = <0x01 0x14 0x01 0x61 0x01 0x15 0x01 0x61 0x01 0x16 0x01 0x61 0x01 0x17 0x01 0x61 0x01 0x18 0x01 0x61 0x01 0x19 0x01 0x61 0x01 0x1a 0x01 0x61 0x01 0x1b 0x01 0x61>;
			phandle = <0x4d>;
		};
		emmc-clk {
			rockchip,pins = <0x01 0x1d 0x01 0x61>;
			phandle = <0x4e>;
		};
		emmc-cmd {
			rockchip,pins = <0x01 0x1c 0x01 0x61>;
			phandle = <0x4f>;
		};
		emmc-strb {
			rockchip,pins = <0x01 0x1f 0x01 0x60>;
			phandle = <0x50>;
		};

		sdmmc-bus4 {
			rockchip,pins = <0x02 0x00 0x01 0x61 0x02 0x01 0x01 0x61 0x02 0x02 0x01 0x61 0x02 0x03 0x01 0x61>;
			phandle = <0x57>;
		};
		sdmmc-clk {
			rockchip,pins = <0x02 0x05 0x01 0x61>;
			phandle = <0x58>;
		};
		sdmmc-cmd {
			rockchip,pins = <0x02 0x04 0x01 0x61>;
			phandle = <0x59>;
		};
		sdmmc-det {
			rockchip,pins = <0x02 0x06 0x01 0x65>;
			phandle = <0x5a>;
		};

		bootph-all;
	};
};
