CONFIG_SYS_EXTRA_OPTIONS="RK3528"
CONFIG_TARGET_RK3528=y
CONFIG_TARGET_ROCKCHIP=y
CONFIG_TARGET_ROCKCHIP_ARMV8=y
CONFIG_TARGET_ROCKCHIP_ARMV8_DEVICE_HINLINK_H29K=y
CONFIG_DEFAULT_DEVICE_NAME="hinlink-h29k-rk3528"
CONFIG_DEFAULT_DEVICE_VENDOR="HINLINK"
CONFIG_DEFAULT_DEVICE_MODEL="H29K"
CONFIG_DEFAULT_DEVICE_DTS="rk3528-hinlink-h29k.dts"
CONFIG_DEFAULT_DEVICE_UBOOT_CONFIG="hinlink_h29k"
CONFIG_DEFAULT_DEVICE_UBOOT_IMAGE="u-boot-rockchip-hinlink_h29k.bin"
CONFIG_DEFAULT_DEVICE_COMPATIBLE="hinlink,h29k"
CONFIG_SPL_OF_CONTROL=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_OF_SYSTEM_SETUP=y
CONFIG_DEFAULT_DEVICE_UBOOT_ENV="uboot-envtools-rk3528"
CONFIG_DEFAULT_DEVICE_UBOOT_ENV_OFFSET="0x100000"
CONFIG_DEFAULT_DEVICE_UBOOT_ENV_SIZE="0x2000"
