# --- 核心 .config 注入 ---
CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_hinlink_h29k=y
CONFIG_PACKAGE_uboot-rockchip=y
CONFIG_PACKAGE_uboot-rockchip-v8=y
CONFIG_PACKAGE_uboot-rockchip-hinlink_h29k=y
CONFIG_PACKAGE_uboot-rockchip-h29k=y
CONFIG_TARGET_DEVICE_HINLINK_H29K=y
CONFIG_UBOOT_HINLINK_H29K=y
CONFIG_rockchip_h29k=y

# 核心网络组合 (去弱留强)
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_wpad-basic-wolfssl=n
CONFIG_PACKAGE_wpad-basic-mbedtls=n
CONFIG_PACKAGE_wpad-openssl=y

# 固件全局定义
# CONFIG_TARGET_ROOTFS_JFFS2 is not set
