# --- 核心 .config 注入 ---
CONFIG_PACKAGE_uboot-rockchip=y
CONFIG_PACKAGE_uboot-rockchip-v8=y

# 核心网络组合 (去弱留强)
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_wpad-basic-wolfssl=n
CONFIG_PACKAGE_wpad-basic-mbedtls=n
CONFIG_PACKAGE_wpad-openssl=y

# 固件全局定义
# CONFIG_TARGET_ROOTFS_JFFS2 is not set
