# SPDX-License-Identifier: GPL-2.0+
config TARGET_HINLINK_H29K
	bool "Hinlink H29K RK3528 Board"
	select VENDOR_HINLINK
	select ARCH_ROCKCHIP

if TARGET_HINLINK_H29K

config SYS_VENDOR
	default "hinlink"

config SYS_BOARD
	default "h29k"

config SYS_SOC
	default "rk3528"

config SYS_CONFIG_NAME
	default "hinlink-h29k-rk3528"

endif
