if VENDOR_HINLINK

config TARGET_HINLINK_H29K
	bool "Hinlink H29K RK3528 Board"
	select ARCH_ROCKCHIP
	select ARM64
	default y

config SYS_VENDOR
	default "hinlink"

config SYS_BOARD
	default "h29k"

config SYS_SOC
	default "rk3528"

config SYS_CONFIG_NAME
	default "hinlink-h29k-rk3528"

endif
